<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark mb-3" id="main_navbar">

  <a class="navbar-brand" href="/">
    <span class="padded_left monospaced">LJSave.com</span>
  </a>

  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
            <span class="navbar-text">
                <%= page_title %>
            </span>
    </li>
  </ul>


</nav>
<div class="container">
  <h1>
    Копия ЖЖ <a href="https://<%= page_title %>" target="_blank"><%= page_title %></a>
  </h1>
  <div id="content">
    <%= body %>
  </div>
</div>

</body>
</html>